<h2>Currently selected days for this week</h2>
<% if @availabilities.present? %>
  <ul>
    <% @availabilities.each do |availability| %>
      <li><%= availability.day %> </li>
    <% end %>
  </ul>
<% else %>
  No days selected.
<% end %>


<h2>Modify your selection:</h2>
<%= simple_form_for :date_selection, url: update_selected_days_availablities_path do |f|%>

  <%= f.input :days_selected, required: false, label: false,
              as: :check_boxes, include_hidden: false,
              collection: [['Monday', 1], ['Tuesday', 2], ['Wednesday', 3],['Thursday', 4], ['Friday', 5]]  %>
  <%= f.button :submit %>

<% end %>
